body{
    // background-color: #000;
    font-size: 16px;
    color: $base;
    font-family: 'Poppins', sans-serif;

    @include medium{
        font-size: 18px;
    }
}

body,form,ul,li,h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;

}
.container{
    width: min(calc(100% - 50px),1140px);
    margin-inline: auto;
}