.z-black{
    width: 100%;
    // min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #111;


.uppercontainer{
    width: 100%;
    height: 100%;
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #111;
    gap: 10px;
    // justify-content: space-around;

    .text{
        width: 580px;
        display: flex;
        padding: 5px 5px;
        flex-wrap: wrap;
        // justify-content: center;
        align-items: center;
        color: #00ffff;

        .project-heading{
          font-weight: 600;
          font-size: 38px;
          color: #00ffff;
          padding: 0;
          margin: 0;
        }
    }

    .photo{
      width: max-content;
      height: 100%;
        // display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 400px;
            max-width: 90%;
        }
    }
}
.lower--container{
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
    
.mid--container{
  display: flex;
  padding-top: 100px;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width:1500px;
   margin-top: 200px;
   gap: 50px;


    
.container {
    // position : relative;
    width : max-content;
    display : flex;
    align-items : center;
    justify-content : space-between;
    flex-wrap :wrap;
    // padding : 30px;  
  }
  
  .container .card {
    position: relative;
    max-width : 400px;
    height : 310px;  
    background-color : black;
    margin : auto;
    padding : 20px 15px;
    border: 2px solid cyan;
    
    display : flex;
    flex-direction : column;
    box-shadow :rgb(4, 230, 247) 0px 2px 20px 8px;
    // box-shadow: rgba(3, 230, 247) 0px 0px 0px 3px;
    // box-shadow: rgba(3, 230, 247)  0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    // box-shadow: rgba(3, 230, 247) 0px 3px 8px;
    // box-shadow: rgb(4, 230, 247) 0px 5px 15px;
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .container .card:hover {
    height : 390px;   
    
  }
  
  
  .container .card .image {
    position : relative;
    width : 420px;
    height : 310px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    top : -1%;
    left: -10px;
    background-color: white;
  
    // box-shadow :rgb(4, 230, 247) 0px 5px 15px;
    // z-index : 1;
  }
  
  .container .card .image img {
    max-width : 100%;
    height: 340px;
    border-radius : 15px;
    object-fit: cover;
    opacity: 0.9;
  }
  
  .container .card .content {
    position : relative;
    top : -25px;
    padding : 10px 15px;
    color : #00ffff;
    background-color: e;
    text-align : center;
    font-size: 14px;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
 .tech{
  display: flex;
  gap: 10px;
 }

    .chip{
      background-color: white;
      color: black;
      border-radius: 20px;
      width: max-content;
      padding: 6px;
      font-weight: 600;
      font-size: 15px;
    }
      
  }
  
  .container .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }
}
    
}
}

